@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    border: none;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    text-decoration: none;
}

li{
    text-align: center;
    display: inline-block;
}