@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto';
}

main{
    text-align: center;
    background-color:hsl(220, 13%, 95%) ;
    padding: 2rem;
}

p{
    color: #a3a3a4;
}

.intro{
    margin-bottom: 5rem;
}

.container{
    display: flex;
    gap:1rem;
    justify-content: center;
}
.item{
    background-color: rgb(255, 255, 255);
    width: 30%;
    min-width: 200px;
}
.item img{
    width: 100%;
}

.item p,h4{
    text-align: left;
    padding: 0 1rem;
}
