@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2B3E4C;
}

.form{
    width: 300px;
    height: 50px;
    position: relative;
}

.form input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #2ecc71;
    border-radius: 10px;
    outline: none;
    padding: 0 10px;
    font-size:25px;
}
.form label{
    position: absolute;
    top: 15px;
    left: 15px;
    color:white;
    text-transform: capitalize;
    font-size:18px;
    background: #2B3E4C;
    transition: bottom .3s;
}
.form input:focus ~ label{
    top: -9px;
    transition: top .3s;
}

.form input:visited ~lable{
    top:-9px;
    transform: top .3s;
}