@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    margin: auto;
    text-align: center;
    font-family: 'Roboto';
    width:fit-content;
}

p{
    font-size: 1.5rem;
    width: fit-content;
    margin: auto;
    background-color: white;
    position: absolute;
    top:0;
    left:25rem;
    z-index: 1;
}

#line{
    background-color: black;
    width: 50rem;
    height: 2px;
    position: absolute;
    top: 1rem;
    left:13rem;
    background-color: #339999;
}
nav{
    margin: 5rem 0;
}
a{
    text-decoration: none;
    background-color: rgb(97, 68, 192);
    padding: 2rem 1rem;
    margin: 0 1rem;
    border-radius: 5px;
    color: white;
}